@{
    List<Green_Bus_Ticket_System_Data.BusRoute> cardRoutes =
        (List<Green_Bus_Ticket_System_Data.BusRoute>)ViewBag.CardRoutes;

    List<Green_Bus_Ticket_System_Data.BusRoute> cashRoutes =
        (List<Green_Bus_Ticket_System_Data.BusRoute>)ViewBag.CashRoutes;
}
<div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs tabcolor7-bg" role="tablist">
        <li role="presentation" class="active"><a href="#via-card" aria-controls="via-card" role="tab" data-toggle="tab" aria-expanded="true" class="active">THU NHẬP MUA VÉ TỪ THẺ</a></li>
        <li role="presentation" class=""><a href="#via-cash" aria-controls="via-cash" role="tab" data-toggle="tab" class="" aria-expanded="false">THU NHẬP MUA VÉ TIỀN MẶT</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="via-card">
            <table id="card-table" class="table display">
                <thead>
                    <tr>
                        <th>TUYẾN XE BUÝT</th>
                        <th>TỔNG SỐ VÉ</th>
                        <th>TỔNG SỐ TIỀN THU VỀ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Green_Bus_Ticket_System_Data.BusRoute route in cardRoutes)
                    {
                        int count = 0;
                        int total = 0;
                        foreach (Green_Bus_Ticket_System_Data.Ticket ticket in route.Tickets.ToList())
                        {
                            count++;
                            total += ticket.Total;
                        }

                        if (count > 0)
                        {
                            <tr>
                                <td>@route.Code - @route.Name</td>
                                <td>@count</td>
                                <td>@total.ToString("#,##0") đ</td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="via-cash">
            <table id="cash-table" class="table display">
                <thead>
                    <tr>
                        <th>TUYẾN XE BUÝT</th>
                        <th>TỔNG SỐ VÉ</th>
                        <th>TỔNG SỐ TIỀN THU VỀ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Green_Bus_Ticket_System_Data.BusRoute route in cashRoutes)
                    {
                        int count = 0;
                        int total = 0;
                        foreach (Green_Bus_Ticket_System_Data.Ticket ticket in route.Tickets.ToList())
                        {
                            count++;
                            total += ticket.Total;
                        }

                        if (count > 0)
                        {
                            <tr>
                                <td>@route.Code - @route.Name</td>
                                <td>@count</td>
                                <td>@total.ToString("#,##0") đ</td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
    </div>

</div>





