@{ 
    List<Green_Bus_Ticket_System_Data.Card> cards = (List <Green_Bus_Ticket_System_Data.Card>) ViewBag.Cards;
}

@if(cards.Count == 0)
{
    <p>Không tìm thấy kết quả nào...</p>
}

@foreach (var item in cards)
{
    <div class="col-md-6">
        <div class="panel panel-default dash-card margin-5">
            <div class="panel-title">
                <i class="fa fa-credit-card titleicon"></i>@item.CardId
                <ul class="panel-tools">
                    @if (item.Status == (int)Green_Bus_Ticket_System_Utils.StatusReference.CardStatus.ACTIVATED)
                    {
                        <li><span class="statuslable" id="@item.CardId"><span class="green">ĐÃ KÍCH HOẠT</span></span></li>
                    }
                    else if (item.Status == (int)Green_Bus_Ticket_System_Utils.StatusReference.CardStatus.BLOCKED)
                    {
                        <li><span class="statuslable" id="@item.CardId"><span class="red">KHÓA</span></span></li>
                    }
                    else
                    {
                        <li><span>CHƯA KÍCH HOẠT</span></li>
                    }

                </ul>
            </div>
            <div class="panel-body">
                <p class="pull-left">
                    Chủ sở hữu: @((item.User != null) ? item.User.PhoneNumber : "Chưa có")
                    <br />
                    Số dư: @item.Balance.ToString("#,##0") đ
                </p>
                <p class="pull-right">
                    @if (item.Status == (int)Green_Bus_Ticket_System_Utils.StatusReference.CardStatus.ACTIVATED)
                    {
                        <button type="button" class="btn btn-danger lockcard" id="@item.CardId"><i class="fa fa-lock"></i> KHÓA THẺ</button>

                    }
                    else if (item.Status == (int)Green_Bus_Ticket_System_Utils.StatusReference.CardStatus.BLOCKED)
                    {
                        <button type="button" class="btn btn-primary unlockcard" id="@item.CardId"><i class="fa fa-unlock"></i> MỞ KHÓA</button>
                    }
                </p>

            </div>

        </div>
    </div>
}


