@{
    bool login = ViewBag.Login;
    Green_Bus_Ticket_System_Data.Promotion item = (Green_Bus_Ticket_System_Data.Promotion)ViewBag.Promo;
}

@if (login)
{
    <p class="hcolor-red">Bạn chưa đăng nhập! </p>
}
else
{
    <tr>
        <td>@item.Name</td>
        <td>@item.ExpiredDate.ToString("dd/MM/yyyy")</td>
        @if (item.ExpiredDate >= DateTime.Now)
        {
            <td><span class="label label-success" id="status-@item.Id">ĐANG HOẠT ĐỘNG</span></td>
            <td>
                <button type="button" class="btn btn-primary view" id="@item.Id"><i class="fa fa-eye"></i> CHI TIẾT</button>
                <button type="button" class="btn btn-danger stop" id="@item.Id"><i class="fa fa-remove"></i> XÓA</button>
            </td>
        }
        else
        {
            <td><span class="label label-danger" id="status-@item.Id">ĐÃ HẾT HẠN</span></td>
            <td>
                <button type="button" class="btn btn-primary view" id="@item.Id"><i class="fa fa-eye"></i> CHI TIẾT</button>
                <button type="button" class="btn btn-danger stop" id="@item.Id"><i class="fa fa-remove"></i> XÓA</button>
            </td>
        }


    </tr>
}