
@{
    ViewBag.Title = "Báo cáo chi tiêu";
    List<Green_Bus_Ticket_System_Data.Card> cards =
        (List<Green_Bus_Ticket_System_Data.Card>)ViewBag.Cards;
    var count = 0;
    bool isIn = false;
    bool isNew = true;
    foreach (var item in cards)
    {
        if (item.Tickets.Count > 0)
        {
            count++;
        }
    }
}
<div class="container-padding">
    <div class="col col-md-12 gb-padding text-center">
        <div class="form-inline reportform">
            <div class="form-group">
                <label for="beginDate" class="form-label">TỪ NGÀY</label>
                <div class="input-prepend input-group">
                    <span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" id="date-picker-begin" class="form-control active" readonly value="@ViewBag.BeginDate">
                </div>
            </div>
            <div class="form-group">
                <label for="example2" class="form-label">ĐẾN NGÀY</label>
                <div class="input-prepend input-group">
                    <span class="add-on input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" id="date-picker-end" class="form-control active" readonly value="@ViewBag.EndDate">
                </div>
            </div>
            <button type="button" class="btn btn-default" id="get-report"><i class="fa fa-search"></i></button>
        </div>
    </div>

    <div class="col col-md-12 gb-padding report">
        @if (count == 0)
        {
            <p>Không có dữ liệu trong khoảng thời gian đã chọn</p>
        }
        else
        {
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                @foreach (var item in cards)
                {
                    <div class="panel panel-default panel-collapse">
                        <div class="panel-heading" role="tab" id="heading-@item.UniqueIdentifier">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@item.UniqueIdentifier" aria-expanded="true" aria-controls="collapse-@item.UniqueIdentifier">
                                    <i class="fa fa-credit-card"></i> @((item.CardName != null && item.CardName.Length > 0) ? item.CardName : item.UniqueIdentifier)
                                </a>
                            </h4>
                        </div>
                        @if (item.Tickets.Count > 0)
                        {
                            isIn = true;
                        }
                        <div id="collapse-@item.UniqueIdentifier" class="panel-collapse collapse @((isIn && isNew) ? Html.Raw("in"): Html.Raw(""))" role="tabpanel" aria-labelledby="heading-@item.UniqueIdentifier">
                            @if (item.Tickets.Count > 0)
                            {
                                isNew = false;
                                isIn = false;
                            }
                            <div class="panel-body">
                                @if (item.Tickets.Count <= 0)
                                {
                                    <p>Không có dữ liệu trong khoảng thời gian đã chọn</p>
                                }
                                else
                                {
                                    <table id="report-table-@item.UniqueIdentifier" class="table display">
                                        <thead>
                                            <tr>
                                                <th>NGÀY GIỜ</th>
                                                <th>SỐ XE BUÝT</th>
                                                <th>SỐ TIỀN</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (Green_Bus_Ticket_System_Data.Ticket ticket in item.Tickets.OrderByDescending(t => t.BoughtDated).ToList())
                                            {
                                                <tr>
                                                    <td>@ticket.BoughtDated.ToString("dd/MM/yyyy hh:mm:ss tt")</td>
                                                    <td>@ticket.BusRoute.Code - @ticket.BusRoute.Name</td>
                                                    <td>@ticket.Total.ToString("#,##0") đ</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>

                                }
                            </div>
                        </div>
                    </div>
                }

            </div>
        }


    </div>
    <br />
</div>
@section CustomJs{
    <!-- ================================================
    Moment.js
    ================================================ -->
    <script type="text/javascript" src="~/Content/front/js/moment/moment.min.js"></script>

    <!-- ================================================
    Bootstrap Date Range Picker
    ================================================ -->
    <script type="text/javascript" src="~/Content/front/js/date-range-picker/daterangepicker.js"></script>
    <!-- ================================================
    Data Tables
    ================================================ -->
    <script src="~/Content/front/js/datatables/datatables.min.js"></script>

    <!-- ================================================
    Sweet Alert
    ================================================ -->
    <script src="~/Content/front/js/sweet-alert/sweet-alert.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            @foreach (var item in cards)
            {
                @Html.Raw("$('#report-table-"+item.UniqueIdentifier+ "').DataTable({'order': [], 'aLengthMenu': [[5, 10, 15, -1], [5, 10, 15, 'All']],'iDisplayLength': 5});")
            }

            $('#date-picker-begin').daterangepicker({
                singleDatePicker: true,
                format: 'DD/MM/YYYY',
                maxDate: new Date()

            }, function (start, end, lable) {
                var newEndDate = moment(start).add(30, "days");
                if (newEndDate > moment()) {
                    newEndDate = moment();
                }
                $('#date-picker-end').data("daterangepicker").setStartDate(newEndDate);
                $('#date-picker-end').data("daterangepicker").setEndDate(newEndDate);
            });

            $('#date-picker-end').daterangepicker({
                singleDatePicker: true,
                format: 'DD/MM/YYYY',
                maxDate: new Date()
            }, function (start, end, lable) {
                var newBeginDate = moment(start).subtract(30, "days");
                $('#date-picker-begin').data("daterangepicker").setStartDate(newBeginDate);
                $('#date-picker-begin').data("daterangepicker").setEndDate(newBeginDate);
            });


            $("#get-report").click(function () {
                var beginDate = $('#date-picker-begin').val();
                var endDate = $('#date-picker-end').val();
                $("#get-report").html('<i class="fa fa-spinner fa-pulse fa-fw"></i>');
                $(".report").html("");
                $.ajax({
                    url: "/Passenger/Report/GetReport",
                    dataType: "html",
                    data: { beginDate: beginDate, endDate: endDate },
                    method: "GET",
                    success: function (data) {
                        setTimeout(function () {
                            $(".report").html(data);
                            @foreach (var item in cards)
                            {
                                @Html.Raw("$('#report-table-"+item.UniqueIdentifier+ "').DataTable().destroy();")
                                @Html.Raw("$('#report-table-"+item.UniqueIdentifier+ "').DataTable({'order': [], 'aLengthMenu': [[5, 10, 15, -1], [5, 10, 15, 'All']],'iDisplayLength': 5});")
                            }
                            $("#get-report").html('<i class="fa fa-search"></i>');
                        }, 1000);

                    }
                });

            });
        });

    </script>
}