
@{
    Layout = null;
    ViewBag.Title = "Lịch sử phát hành";
    int count = 0;
    List<Green_Bus_Ticket_System_Data.ScratchCard> cards = (List<Green_Bus_Ticket_System_Data.ScratchCard>)ViewBag.Cards;
}
<html>
<body>
    @if(cards.Count == 0)
    {
        <p>Không tìm thấy thẻ nào!</p>
    }
    <div class="row padding-t-20">
        <table style="width: 100%">
            <tbody>

                @foreach (var item in cards)
            {
                if (count == 0)
                {
                        @Html.Raw("<tr>")
                    }

                <td style="width: 25%; width: 25%; border: 1px solid #000; padding: 10px;">
                    <h3>@item.Code</h3>
                    <p style="font-size:12px;">NT [Mã_Thẻ] @item.Code gửi 14794312404</p>
                    <p>Mệnh giá: @item.Price.ToString("#,##0") đ</p>
                    <p>Hết hạn: @item.ExpiredDate.ToString("dd/MM/yyyy")</p>
                </td>

                    if (count == 3)
                    {
                        @Html.Raw("</tr>")
                        count = 0;
                    }
                    else
                    {
                        count++;
                    }

                }
                </tbody>
            </table>
        </div>
    </body>
</html>