@{

    ViewBag.Title = "Thẻ của bạn";
    List<Green_Bus_Ticket_System_Data.Card> cards =
        (List<Green_Bus_Ticket_System_Data.Card>)ViewBag.Cards;
    List<Green_Bus_Ticket_System_Data.CreditPlan> creditPlans =
        (List<Green_Bus_Ticket_System_Data.CreditPlan>)ViewBag.CreditPlans;
}
<div class="container-padding">
    @if (cards.Count <= 0)
    {
        <p>Bạn chưa có thẻ nào!</p>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>MÃ THẺ</td>
                    <td>TÊN THẺ</td>
                    <td>NGÀY ĐĂNG KÝ</td>
                    <td>SỐ DƯ</td>
                    <td>TRẠNG THÁI</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (Green_Bus_Ticket_System_Data.Card item in cards)
                {

                    <tr>
                        <td>@item.UniqueIdentifier</td>
                        <td>
                            <div class="form-inline">
                                @if (item.CardName != null)
                                {
                                    <input type="text" class="form-control cardname" id="@item.UniqueIdentifier" value="@item.CardName" />
                                }
                                else
                                {
                                    <input type="text" class="form-control cardname" id="@item.UniqueIdentifier" value="" />
                                }
                                <button type="button" class="btn btn-primary saveName" id="@item.UniqueIdentifier"><i class="fa fa-floppy-o"></i></button>
                            </div>
                        </td>
                        <td>@item.RegistrationDate.ToString("dd/MM/yyyy")</td>
                        <td>@item.Balance.ToString("#,##0") đ</td>

                        @if (item.Status == (int)Green_Bus_Ticket_System_Utils.StatusReference.CardStatus.ACTIVATED)
                        {
                            <td><span class="label label-success">ĐÃ KÍCH HOẠT</span></td>
                            <td><button type="button" class="btn btn-success addcredit" id="@item.UniqueIdentifier"><i class="fa fa-paypal"></i> NẠP TIỀN</button></td>
                        }
                        else if (item.Status == (int)Green_Bus_Ticket_System_Utils.StatusReference.CardStatus.BLOCKED)
                        {
                            <td><span class="label label-danger">KHÓA</span></td>
                            <td><button type="button" class="btn disabled"><i class="fa fa-paypal"></i> NẠP TIỀN</button></td>
                        }


                    </tr>
                }
            </tbody>
        </table>

        <!-- Modal -->
        <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Nạp tiền vào thẻ</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label form-label text-right">Gói nạp tiền</label>
                            <div class="col-sm-8">
                                <select class="selectpicker" name="item_number">
                                    @foreach (Green_Bus_Ticket_System_Data.CreditPlan item in creditPlans)
                                    {
                                        <option value="@item.Id">@item.Name (@item.Price.ToString("#,##0") đ)</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal"><i class="fa fa-times"></i> HỦY</button>
                        <button type="button" class="btn btn-default" id="paypal"><i class="fa fa-send-o"></i> THANH TOÁN</button>
                    </div>
                </div>
            </div>
        </div>

          <!-- End Moda Code -->

    }
</div>

@section CustomJs{
    <script src="//www.paypalobjects.com/api/checkout.js" async></script>
    <script>
        var currentCard = 0;

        $(".addcredit").click(function () {
            currentCard = this.id;
            $("#paymentModal").modal("show");
        });

        $(".saveName").click(function () {
            var id = this.id;
            var name = $(".cardname#" + id).val();
            saveCardName(id, name);
        });


        function saveCardName (id, name) {
                if (name.trim().length > 0) {
                    $.ajax({
                        url: "/Passenger/Card/UpdateCardName",
                        method: "POST",
                        dataType: "json",
                        data: { id: id, name: name },
                        success: function () {
                            var button = $(".saveName#" + id);
                            button.html('<i class="fa fa-check"></i> Đã lưu!');
                            setTimeout(function () {
                                button.html('<i class="fa fa-floppy-o"></i>');
                            }, 500);
                        }
                    });
                }
        };

        window.paypalCheckoutReady = function () {
            paypal.checkout.setup("@Green_Bus_Ticket_System_Utils.PayPalSettings.MerchantAccountID", {
                environment: '@Green_Bus_Ticket_System_Utils.PayPalSettings.Environment',
                click: function (event) {
                    event.preventDefault();
                    paypal.checkout.initXO();
                    $.support.cors = true;
                    $.ajax({
                        url: '/Passenger/Card/PayPaltoken',
                        type: "GET",
                        data: { creditPlanId: $(".selectpicker").val(), cardId: currentCard },
                        async: true,
                        crossDomain: true,
                        //Load the minibrowser with the redirection url in the success handler
                        success: function (token) {
                            var url = paypal.checkout.urlPrefix + token;
                            //Loading Mini browser with redirect url, true for async AJAX calls
                            paypal.checkout.startFlow(url);
                        },
                        error: function (responseData, textStatus, errorThrown) {
                            alert("Something going wrong ");
                            //Gracefully Close the minibrowser in case of AJAX errors
                            paypal.checkout.closeFlow();
                        }
                    });
                },
                button: ['paypal']
            });
        }
    </script>
}