<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Green Bus Ticket System - Fast - Cheap - Convenient">
    <meta name="keywords" content="bus, green, ticket, convenient" />
    <title>@ViewBag.Title | Green Bus Ticket System</title>
    <!-- ========== Css Files ========== -->
    <link href="~/Content/front/css/root.css" rel="stylesheet">
    <!--Other Css Here-->
    @if (IsSectionDefined("CustomCss"))
    {
        @RenderSection("CustomCss", required: false);
    }
</head>
<body>
    <!-- Start Page Loading -->
    <div class="loading"><img src="~/Content/front/img/loading.gif" alt="loading-img"></div>
    <!-- End Page Loading -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START TOP -->
    <div id="top" class="clearfix">
        <!-- Start App Logo -->
        <div class="applogo">
            <a href="#" class="logo">GBTS</a>
        </div>
        <!-- End App Logo -->
        <!-- Start Sidebar Show Hide Button -->
        <a href="#" class="sidebar-open-button"><i class="fa fa-bars"></i></a>
        <a href="#" class="sidebar-open-button-mobile"><i class="fa fa-bars"></i></a>
        <!-- End Sidebar Show Hide Button -->
        <!-- Start Top Menu -->

        <!-- End Top Menu -->
        <!-- Start Top Right -->
        <ul class="top-right">
            <li class="dropdown link">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle profilebox"><i class="fa falist fa-user"></i><b> 01649501938</b><span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-list dropdown-menu-right">
                    <li><a href="/Passenger/Home/Profiles"><i class="fa falist fa-wrench"></i>Tài khoản</a></li>
                    <li><a href="/Access/Logout"><i class="fa falist fa-sign-out"></i>Đăng xuất</a></li>
                </ul>
            </li>
        </ul>
        <!-- End Top Right -->
    </div>
    <!-- END TOP -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START SIDEBAR -->
    <div class="sidebar sidebar-colorful clearfix">
        <ul class="sidebar-panel nav">
            <li class="sidetitle">KHÁCH HÀNG</li>
            <li><a href="/Passenger/Home"><span class="icon color5"><i class="fa fa-home"></i></span>BẢNG ĐIỀU KHIỂN</a></li>
            <li><a href="/Passenger/Card"><span class="icon color1"><i class="fa fa-credit-card"></i></span>THẺ CỦA BẠN</a></li>
            <li><a href="/Passenger/Bus"><span class="icon color3"><i class="fa fa-bus"></i></span>TÌM XE BUÝT</a></li>
            <li><a href="/Passenger/Report"><span class="icon color7"><i class="fa fa-money"></i></span>BÁO CÁO CHI TIÊU</a></li>
        </ul>
        <ul class="sidebar-panel nav">
            <li class="sidetitle">TÀI KHOẢN</li>
            <li><a href="/Passenger/Home/Profiles"><span class="icon color4"><i class="fa fa-gear"></i></span>CÀI ĐẶT</a></li>
            <li><a href="/Access/Logout"><span class="icon color6"><i class="fa fa-sign-out"></i></span>ĐĂNG XUẤT</a></li>
        </ul>

    </div>
    <!-- END SIDEBAR -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START CONTENT -->
    <div class="content">
        <!-- Start Page Header -->
        <div class="page-header">
            <h1 class="title">@ViewBag.Title</h1>
        </div>
        <!-- End Page Header -->
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START CONTAINER -->
        <div class="container-default">

            @RenderBody()


        </div>
        <!-- END CONTAINER -->
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- Start Footer -->
        <div class="row footer">
            <div class="col-md-6 text-left">
                Copyright © 2016 <a href="#" target="_blank">GBTS</a> All rights reserved.
            </div>
            <div class="col-md-6 text-right">
                FPT Capstone Project
            </div>
        </div>
        <!-- End Footer -->

    </div>
    <!-- End Content -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- ================================================
    jQuery Library
    ================================================ -->
    <script type="text/javascript" src="~/Content/front/js/jquery.min.js"></script>
    <!-- ================================================
    Bootstrap Core JavaScript File
    ================================================ -->
    <script src="~/Content/front/js/bootstrap/bootstrap.min.js"></script>
    <!-- ================================================
    Plugin.js - Some Specific JS codes for Plugin Settings
    ================================================ -->
    <script type="text/javascript" src="~/Content/front/js/plugins.js"></script>

    <!--Other Js Here-->
    @if (IsSectionDefined("CustomJs"))
    {
        @RenderSection("CustomJs", required: false);
    }

</body>
</html>